---
import { PROJECT_SLUGS, isValidSlug } from '@/utils/projects'

export async function getStaticPaths() {
  return PROJECT_SLUGS.map(slug => ({
    params: { slug }
  }))
}

const { slug } = Astro.params

// Validate slug - if invalid, redirect to 404
if (!slug || !isValidSlug(slug)) {
  return Astro.redirect('/404')
}
---

<html>
  <head>
    <script define:vars={{ projectSlug: slug }}>
      // Set flag in sessionStorage for modal to open automatically, then redirect to main page
      sessionStorage.setItem('shouldOpenModal', projectSlug);
      window.location.replace('/es/');
    </script>
  </head>
  <body>
    <noscript>
      <meta http-equiv="refresh" content="0; url=/es/">
    </noscript>
  </body>
</html>