---
// Import global styles
import '@/styles/globals.css'

import MainPageContent from '@/components/MainPageContent.astro';

// Import i18n utils
import { getTranslations, getCurrentLanguage } from '@/i18n/utils';

const currentLang = getCurrentLanguage(Astro.url);
const t = await getTranslations(currentLang);
---

<html lang={currentLang}>
  <head>
    <title>Francisco Beccaria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={`Francisco Beccaria,+3 years of experience ${t.hero.title} portfolio showcasing projects, skills, and contact information.`}>
    <meta name="keywords" content="frontend developer, web development, react.js, next.js, astro, portfolio">
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <meta property="og:title" content={`Francisco Beccaria - ${t.hero.title}`} />
    <meta property="og:description" content="Portfolio showcasing my frontend development projects and skills." />
    <meta property="og:image" content="/hero.webp" />
    <meta property="og:url" content="https://franbeccaria.com" />
    
    <!-- Hreflang tags for SEO -->
    <link rel="alternate" hreflang="es" href="https://franbeccaria.com/es/" />
    <link rel="alternate" hreflang="en" href="https://franbeccaria.com/" />
    <link rel="alternate" hreflang="x-default" href="https://franbeccaria.com/" />
  </head>
  <body>
    <MainPageContent lang={currentLang} />
  </body>
</html>